dist
build
node_modules/*
.env.production
.env.local
.log
yarn-error.log
.vscode/*
npm-debug.log
stats.json
.DS_Store
data/*
.idea/*
!.idea/rcb-settings.xml
*.pem
*.key
*.cert
.github/workflows/main.yaml
.yarn*
!/.eslintignore
!/.eslintrc